- @no_container = true
- page_title "运行环境"
= render "projects/pipelines/head"

%div{ class: container_class }
  .top-area.adjust
    .col-md-7
      %h3.page-title= @environment.name
    .col-md-5
      .nav-controls
        = render 'projects/environments/terminal_button', environment: @environment
        = render 'projects/environments/external_url', environment: @environment
        = render 'projects/environments/metrics_button', environment: @environment
        - if can?(current_user, :update_environment, @environment)
          = link_to '编辑', edit_namespace_project_environment_path(@project.namespace, @project, @environment), class: 'btn'
        - if can?(current_user, :stop_environment, @environment)
          = link_to '停止', stop_namespace_project_environment_path(@project.namespace, @project, @environment), data: { confirm: '确定要停止该运行环境？' }, class: 'btn btn-danger', method: :post

  .environments-container
    - if @deployments.blank?
      .blank-state.blank-state-no-icon
        %h2.blank-state-title
          你现在还没有任何部署。
        %p.blank-state-text
          在
          %code .gitlab-ci.yml
          中定义运行环境来跟踪部署情况。
        点击
        = link_to "这里", help_page_path("ci/environments"), class: "btn btn-success"
        了解更多
    - else
      .table-holder
        %table.table.ci-table.environments
          %thead
            %tr
              %th ID
              %th 提交
              %th 作业
              %th 创建于
              %th.hidden-xs

          = render @deployments

      = paginate @deployments, theme: 'gitlab'
