- if can?(current_user, :push_code, @project)
  .create-mr-dropdown-wrap{ data: { can_create_path: can_create_branch_namespace_project_issue_path(@project.namespace, @project, @issue), create_mr_path: create_merge_request_namespace_project_issue_path(@project.namespace, @project, @issue), create_branch_path: namespace_project_branches_path(@project.namespace, @project, branch_name: @issue.to_branch_name, issue_iid: @issue.iid) } }
    .btn-group.unavailable
      %button.btn.btn-grouped{ type: 'button', disabled: 'disabled' }
        = icon('spinner', class: 'fa-spin')
        %span.text
          检查分支有效性…
    .btn-group.available.hide
      %input.btn.js-create-merge-request.btn-inverted.btn-success{ type: 'button', value: '创建合并请求', data: { action: 'create-mr' } }
      %button.btn.btn-inverted.dropdown-toggle.btn-inverted.btn-success.js-dropdown-toggle{ type: 'button', data: { 'dropdown-trigger' => '#create-merge-request-dropdown' } }
        = icon('caret-down')
      %ul#create-merge-request-dropdown.dropdown-menu.dropdown-menu-align-right{ data: { dropdown: true } }
        %li.droplab-item-selected{ role: 'button', data: { value: 'create-mr', 'text' => '创建合并请求' } }
          .menu-item
            .icon-container
              = icon('check')
            .description
              %strong 创建合并请求
              %span
                创建一个以此问题命名的合并请求，源分支为 '#{@project.default_branch}' 。
        %li.divider.droplab-item-ignore
        %li{ role: 'button', data: {  value: 'create-branch', 'text' => 'Create a branch' } }
          .menu-item
            .icon-container
              = icon('check')
            .description
              %strong Create a branch
              %span
                创建一个以此问题命名的分支，源分支为 '#{@project.default_branch}' 。
